#!/bin/bash
{{- if eq .chezmoi.os "darwin" }}

# mac-defaults.yaml hash: {{ include ".chezmoidata/mac-defaults.yaml" | sha256sum }}

{{- range $domain, $settings := .mac_defaults }}
{{- range $settings }}
defaults write {{ $domain }} {{ .name | quote }} -{{ .type }} {{ .value | quote }}
{{- end }}
{{- end }}

killall Finder
killall Dock
killall Safari
killall SystemUIServer

# Remove duplicates in the “Open With” menu (also see `lscleanup` alias)
/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user


{{- end }}