{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# packages.yaml hash: {{ include "dot_Brewfile" | sha256sum }}

brew bundle install --cleanup --file={{ .chezmoi.sourceDir }}/dot_Brewfile
{{- end }}
{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# packages.yaml hash: {{ include "dot_Brewfile-linux" | sha256sum }}

brew bundle install --cleanup --file={{ .chezmoi.sourceDir }}/dot_Brewfile-linux
{{- end }}
