{{- if (eq .chezmoi.os "darwin") -}}

#!/usr/bin/env zsh
# -*- mode: sh; sh-indentation: 2; indent-tabs-mode: nil; sh-basic-offset: 2; -*-
# code: language=shell insertSpaces=true tabSize=2

[[ -d /opt/homebrew/bin ]] && export PATH="/opt/homebrew/bin:${PATH}"


brew bundle install --quiet --no-lock --file=/dev/stdin <<EOF
tap "aylei/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/command-not-found"
tap "homebrew/core"
tap "microsoft/git"
tap "mutagen-io/mutagen"
brew "awscli"
brew "azure-cli"
brew "bat"
brew "chezmoi"
brew "diff-so-fancy"
brew "direnv"
brew "exa"
brew "fd"
brew "fish"
brew "fzf"
brew "gh"
brew "go"
brew "git"
brew "git-delta"
brew "git-extras"
brew "git-flow"
brew "git-lfs"
brew "grc"
brew "helm"
brew "htop"
brew "httpie"
brew "jq"
brew "jsonnet"
brew "k9s"
brew "kubectx"
brew "neovim"
brew "pre-commit"
brew "ripgrep"
brew "rsync"
brew "simnalamburt/x/podman-apple-silicon"
brew "stow"
brew "s3cmd"
brew "reattach-to-user-namespace"
brew "wget"
brew "shellcheck"
brew "zsh"
brew "mutagen-io/mutagen/mutagen"
cask "dropbox"
cask "brave-browser"
cask "google-chrome"
cask "alfred"
cask "discord"
cask "fantastical"
cask "cardhop"
cask "slack"
cask "bartender"
cask "superhuman"
cask "1password-cli"
cask "git-credential-manager-core"
cask "github"
cask "iterm2"
cask "visual-studio-code"
EOF

mkdir -p ~/.ssh/connections


pip3 install --upgrade pip
pip3 install pynvim

[[ -d ~/.sdkman ]] || curl -s "https://get.sdkman.io" | bash

{{ end -}}

{{- if (eq .chezmoi.os "linux") -}}

#!/usr/bin/env zsh
# -*- mode: sh; sh-indentation: 2; indent-tabs-mode: nil; sh-basic-offset: 2; -*-
# code: language=shell insertSpaces=true tabSize=2

[[ -d /home/.linuxbrew ]] && export PATH="/home/.linuxbrew/bin:${PATH}"


brew bundle install --quiet --no-lock --file=/dev/stdin <<EOF
tap "aylei/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/command-not-found"
tap "homebrew/core"
tap "microsoft/git"
tap "mutagen-io/mutagen"
brew "awscli"
brew "azure-cli"
brew "bat"
brew "chezmoi"
brew "diff-so-fancy"
brew "exa"
brew "fd"
brew "fzf"
brew "gh"
brew "go"
brew "git"
brew "git-delta"
brew "git-extras"
brew "git-flow"
brew "git-lfs"
brew "gpg"
brew "helm"
brew "htop"
brew "httpie"
brew "jq"
brew "jsonnet"
brew "k9s"
brew "kubectx"
brew "neovim"
brew "pass"
brew "pre-commit"
brew "ripgrep"
brew "rsync"
brew "stow"
brew "s3cmd"
brew "wget"
brew "shellcheck"
brew "zsh"
brew "mutagen-io/mutagen/mutagen"
brew "zip"
EOF

mkdir -p ~/.ssh/connections

pip3 install --upgrade pip
pip3 install pynvim

[[ -d ~/.sdkman ]] || curl -s "https://get.sdkman.io" | bash

if [[ ! -d /usr/local/share/gcm-core ]]; then
  curl -o /tmp/gcmcore.deb -L -C - 'https://github.com/GitCredentialManager/git-credential-manager/releases/download/v2.0.632/gcmcore-linux_amd64.2.0.632.34631.deb'
  sudo dpkg -i /tmp/gcmcore.deb
fi

if [[ ! -f /usr/bin/op ]]; then
  [[ -f /usr/share/keyrings/1password-archive-keyring.gpg ]] || curl -sS https://downloads.1password.com/linux/keys/1password.asc | \
  sudo gpg --dearmor --output /usr/share/keyrings/1password-archive-keyring.gpg
  [[ -f /etc/apt/sources.list.d/1password.list ]] || echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/$(dpkg --print-architecture) stable main" |
  sudo tee /etc/apt/sources.list.d/1password.list
  sudo mkdir -p /etc/debsig/policies/AC2D62742012EA22/
  curl -sS https://downloads.1password.com/linux/debian/debsig/1password.pol | \
  sudo tee /etc/debsig/policies/AC2D62742012EA22/1password.pol
  sudo mkdir -p /usr/share/debsig/keyrings/AC2D62742012EA22
  curl -sS https://downloads.1password.com/linux/keys/1password.asc | \
  sudo gpg --dearmor --output /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg
  sudo apt update && sudo apt install 1password-cli
fi

gpgconf --kill all

eval $(op signin --account fzymgc.1password.com)

if [[ ! -d ~/.gnupg ]]; then
  for i in $(op document list |grep gpg-key|awk '{print $1}'); do
  op document get $i | gpg --import-options restore --import
  done
fi

if [[ ! -d ~/.password-store ]]; then
  pass init 0A5C6C7B591ED2C8
fi

{{ end -}}
