#!/usr/bin/env zsh
# -*- mode: sh; sh-indentation: 2; indent-tabs-mode: nil; sh-basic-offset: 2; -*-
# code: language=shell insertSpaces=true tabSize=2

# brewfile hash: {{ include "dot_Brewfile" | sha256sum }}
brew bundle install --quiet --global
