Host *
  {{- with .ssh_agent }}
  {{- if default false .onepassword_enabled }}
  IdentityAgent ~/.1password/agent.sock
  {{- end }}
  {{- end }}
  ForwardAgent yes

Host github.com
  User seanb4t

{{ include "private_dot_ssh/config.fzymgc-house" }}

