{{ if stat (joinPath .chezmoi.homeDir ".orbstack/ssh/config") }}
Include ~/.orbstack/ssh/config
{{ end }}

Host *
  ServerAliveInterval 60
  HashKnownHosts yes
  StrictHostKeyChecking no
  IPQoS throughput
  TCPKeepAlive no

{{ if stat (printf "private_dot_ssh/config.%s.tmpl" .chezmoi.hostname) }}
{{ includeTemplate (printf "private_dot_ssh/config.%s.tmpl" .chezmoi.hostname) . }}
{{ end }}
